<%= render 'dashboard/dashboard' %>

<div style="margin-left:20px;">
	<div class="headerlinks">Referral</div>
	<div class="headerlinks">References</div>
</div>

<div class="well" style="margin-top:50px;">
<h3>Import Contacts</h3>
Friends you email can sign up on Airbnb to write you a personal reference. You can review new references and either accept or ignore them before they are displayed on your public profile
</div>

<%= link_to "Import Your Contacts", new_listing_path, class: "btn btn-inverse" %>
<%= link_to "Send Your Contacts a Message", new_listing_path, class: "btn btn-inverse" %>

</div>
</div>
<div style="margin-top:330px;">
</div>