<%= render 'dashboard/dashboard' %>

<div class="headerlinks">Sell Anything Listings</div>
<div class="headerlinks">Sell Anything Settings</div>

<br/>
<div style="margin-top:30px;">
<table class="table table-striped" style="margin-right:20px;">
  <thead>
    <tr>
      <th>Commerce Site</th> 
      <th>Item Name</th>
      <th>Date Added</th>
      <th>Listing Url</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td><div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
	</tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td><div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td><div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td><div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td>
      	<button class="btn btn-danger">PDF</button>
      <div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td>
      <button class="btn btn-danger">PDF</button>
      <div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
    <tr>
    <td>Amazon</td>
      <td>Lorem Ipsum Alt Ipsum</td>
      <td>January 7,2013</td>
      <td>http://railscasts.com/episodes/340-datatables?view=asciicast</td>
      <td>
      <button class="btn btn-danger">PDF</button>
      <div class="btn-group">
  <button class="btn">View</button>
  <button class="btn">Edit</button>
  <button class="btn">Delete</button>
</div></td>
    </tr>
  </tbody>
</table>
</div>

</div>
</div>
<div style="margin-top:320px;">
</div>