<%= render :layout => 'membershiplayout' do |f| %>

			<div class="span12" style="margin-bottom: 20px; padding-left: 25px; margin-top: 20px;margin-right: 100%">
				<div class="span7" style="margin-right:160px;">	

					<div class="progress progress-striped active" >
					  <div class="bar" style="width: 0%;"></div>
					</div>

					<div class="welcome-area">
					<h2>Welcome</h2>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					<div style="margin-top:30px;">
				</div>
			</div>
			</div>

			<div class="span3">
			<h4>WHY CREATE A PROFILE?</h4>

			<h6>Step-by-Step Help</h6>
			Let us guide you each step of the way toward getting the best possible loan.</br>
			<h6>Support When you Need It</h6>
			We provide recommended calculators, articles and expert advice tailored to your needs.</br>
			<h6>Check Your Status Online</h6>
			Review the status of all your loan offers through one simple interface.</br>
			</div>	</div>
			
			<% end %>
		</div>
</div>

</div>
</div>
<div style="margin-top:320px;">
</div>