<%= render 'dashboard/dashboard' %>
<div class= "container">
<h1>Create A Listing</h1>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Choose The Location of the Listing
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li>Uvalue Local</li>
    <li>Amazon Inc.</li>
    <li>Ebay</li>
    <li>Etsy</li>
    <li>Pinterest</li>
    <li>The Fancy</li>
  </ul>
</div><br/><br/>

<%= render 'form' %>
