<%= render 'layouts/navgeneral' %>

<div class="container">
<div class="span12 white-panel no-padding slider" style="margin-top:110px;">
            <div>
                <div class="slider-container" >
                    <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul class="slides jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -3000px; width: 4100px;">
                        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;">
                            <div class="slider-content">
                                <img src="https://gathercontent.com/assets/img/homepage/slider/andculture.png" alt="andculture" width="143" height="26">
                                <blockquote>GatherContent has become a vital daily tool for our content strategists to productively collaborate with clients.</blockquote>
                                <cite>— Heather &amp; Tricia, Content Strategists</cite>

                            </div>
                            <img src="https://gathercontent.com/assets/img/homepage/slider/and-culture.jpg" alt="AndCulture" width="998" height="355">
                        </li>
                        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2" style="float: left; list-style: none;">
                            <div class="slider-content">
                                <img src="https://gathercontent.com/assets/img/homepage/slider/fr.png" alt="FifthRing" width="117" height="34">
                                <blockquote>Using GatherContent has saved us significant amounts of time over our previous Basecamp / Google Docs approach. Clarity with clients and the team has dramatically improved!</blockquote>
                                <cite>— Steven Milne, Digital Solutions Architect</cite>

                            </div>
                            <img src="https://gathercontent.com/assets/img/homepage/slider/steven-milne.jpg" alt="Steven Milne" width="998" height="355">
                        </li>
                        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none;">
                            <div class="slider-content">
                                <img src="https://gathercontent.com/assets/img/homepage/slider/deer.png" alt="Deer Digital" width="174" height="38">
                                <blockquote>GatherContent helps us save an average of 30 hours a week. It's great being able to spend time actually writing content, instead of managing the process.</blockquote>
                                <cite>— Becky Desforges, Digital Strategist</cite>

                            </div>
                            <img src="https://gathercontent.com/assets/img/homepage/slider/becky.jpg" alt="Rebecca Desforges" width="998" height="355">
                        </li><li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="7" style="float: left; list-style: none;">
                            <div class="slider-content">
                                <img src="https://gathercontent.com/assets/img/homepage/slider/andculture.png" alt="andculture" width="143" height="26">
                                <blockquote>GatherContent has become a vital daily tool for our content strategists to productively collaborate with clients.</blockquote>
                                <cite>— Heather &amp; Tricia, Content Strategists</cite>

                            </div>
                            <img src="https://gathercontent.com/assets/img/homepage/slider/and-culture.jpg" alt="AndCulture" width="998" height="355">
                        </li>
                    </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div>
                    <div class="slider-controls">
                        <a href="#" class="control-1 active">1</a>
                        <a href="#" class="control-2">2</a>
                        <a href="#" class="control-3">3</a>
                    </div>
                </div>

                <div class="button-text-panel">
                    <h4>Join the 12.000+ who have found Content Harmony</h4>
                    <a href="signup" class="btn btn-warning">Get Started Now</a>
                    <a href="how-it-works" class="btn">Take a tour</a>
                </div>
            </div>
        </div>
</div>