
<div class="footer">
<div class="container">
		<div class="span4">
			<h4>About</h4>
			<ul>
				<li>
					<a href="/about">About Uvalue</a>
				</li>
				<li>
					<a href="http://officialblog.Uvalue.com">Uvalue Blog</a>
				</li>
				<li>
					<a href="http://www.Uvalue-press.com/">Press</a>
				</li>
			</ul>
		</div>

		<div class="span5">
			<h4>Help</h4>
			<ul>
				<li>
					<a href="/faq">FAQ</a>
				</li>
				<li>
					<a href="/static?p=tos&amp;country=US">Terms of Service</a>
				</li>
				<li>
					<a href="/static?p=privacy&amp;country=US">Privacy Policy</a>
				</li>
			</ul>
		</div>

		<div class="span4">
			<h4>More</h4>
			<ul>
				<li>
					<a href="/careers?country=US">Careers</a>
				</li>
				<li>
						<a href="/Uvaluemobile">Uvalue Mobile</a>
				</li>
					<li>
						<a href="/weekly">The Weekly Uvalue</a>
					</li>
			</ul>
		</div>
	

	<p class="span12" style="margin-top:30px; text-align:center;">
				Copyright © 2013 Uvalue Inc., Uvalue® and related marks are registered trademarks of Uvalue.

	</p>


</div>
</div>
</div>
</div>
	</body>
</html>